<!-- Footer -->
<footer>
    <div class="bg2 p-t-40 p-b-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <a href="index.html">
                            <img class="max-s-full" src="/images/app/icons/logo-03.png" alt="LOGO">
                        </a>
                    </div>

                    <div>

                        <div class="p-t-15">
                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-youtube"></span>
                            </a>
                            <a href="http://github.com/woodeekim" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-github"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
</div>

<script src="/js/app/jquery-3.2.1.min.js"></script>
<script src="/js/app/animsition.min.js"></script>
<script src="/js/app/popper.js"></script>
<script src="/js/app/bootstrap.min.js"></script>
<script src="/js/app/wirte.js"></script>
<script src="/js/app/main.js"></script>

</body>
</html>