<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="/images/app/icons/favicon.png"/>

    <link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app/fontawesome-5.0.8/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/app/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app/util.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app/index2.css">
    <link rel="stylesheet" type="text/css" href="/css/app/main.css">
</head>
</head>
<body>
<header>
    <div class="container-menu-desktop">
        <div class="topbar">
            <div class="content-topbar container h-100">
                <div class="left-topbar">
                    <div class="left-topbar-item">
                        로그인 후 게시판을 이용해주세요.
                    </div>
                    <a href="#" class="left-topbar-item">
                        <i class="fab fa-google-plus-g m-r-7"></i>
                        Google+
                    </a>
                </div>
                <div class="right-topbar">
                    <a href="#">
                        <span class="fab fa-facebook-f"></span>
                    </a>
                    <a href="#">
                        <span class="fab fa-vimeo-v"></span>
                    </a>
                    <a href="#">
                        <span class="fab fa-youtube"></span>
                    </a>
                </div>
            </div>
        </div>
        <!--로고-->
        <div class="wrap-logo container">
            <!-- Logo desktop -->
            <div class="logo">
                <a href="index.html"><img src="/images/app/icons/logo-01.png" alt="LOGO"></a>
            </div>
        </div>


        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">
                    <a class="logo-stick" href="index.html">
                        <img src="/images/app/icons/logo-01.png" alt="LOGO">
                    </a>

                    <ul class="main-menu">
                        <li class="main-menu-active">
                            <a href="/">메인</a>
                        </li>

                        <li class="main-menu-active">
                            <a href="/board">게시판</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header><!--//헤더 -->

<section class="bg0 p-t-70 p-tb-70">
    <div class="container">
        <div class="band">

            <div class="item-2">
                <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045" class="card">
                    <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png);"></div>
                    <article>
                        <h1>처음 글 씁니다</h1>
                        <p>
                            이렇게 글 작성하는게 맞나요?
                        </p>
                        <span>김우디</span>
                    </article>
                </a>
            </div>
            <div class="item-3">
                <a href="https://design.tutsplus.com/articles/envato-tuts-community-challenge-created-by-you-july-edition--cms-26724" class="card">
                    <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-5.jpg);"></div>
                    <article>
                        <h1>반갑습니다</h1>
                        <p>저는 김근경이라고 합니다.</p>
                        <span>김진짜</span>
                    </article>
                </a>
            </div>
            <div class="item-4">
                <a href="https://webdesign.tutsplus.com/tutorials/how-to-code-a-scrolling-alien-lander-website--cms-26826" class="card">
                    <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png);"></div>
                    <article>
                        <h1>날씨가 따뜻해졌어요</h1>
                        <p>겨울이 지나가나봐요.하하하</p>
                        <span>Kezz Bracey</span>
                    </article>
                </a>
            </div>
            <div class="item-5">
                <a href="https://design.tutsplus.com/tutorials/stranger-things-inspired-text-effect--cms-27139" class="card">
                    <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/strange.jpg);"></div>
                    <article>
                        <h1>포트폴리오를 만듭시다.</h1>
                        <p>시간이 없어요!!!</p>
                        <span>김가짜</span>
                    </article>
                </a>
            </div>
            <div class="item-6">
                <a href="https://photography.tutsplus.com/articles/5-inspirational-business-portraits-and-how-to-make-your-own--cms-27338" class="card">
                    <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg);"></div>
                    <article>
                        <h1>저녁은 뭐먹지?</h1>

                        <span>Marie Gardiner</span>
                    </article>
                </a>
            </div>

        </div>
    </div>
</section>
<footer>
    <div class="bg2 p-t-40 p-b-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <a href="index.html">
                            <img class="max-s-full" src="/images/app/icons/logo-02.png" alt="LOGO">
                        </a>
                    </div>

                    <div>
                        <p class="f1-s-1 cl11 p-b-16">
                            환영합니다. 문의가 있으면 메일 주세요.
                        </p>

                        <p class="f1-s-1 cl11 p-b-16">
                        </p>

                        <div class="p-t-15">
                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-youtube"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
            <span class="symbol-btn-back-to-top">
                <span class="fas fa-angle-up"></span>
            </span>
</div>

<script src="/js/app/jquery-3.2.1.min.js"></script>
<script src="/js/app/animsition.min.js"></script>
<script src="/js/app/popper.js"></script>
<script src="/js/app/bootstrap.min.js"></script>
<script src="/js/app/main.js"></script>
</body>
</html>




