{{>layout/header}}

    <div class="contact-w3">

        <form>
            <label for="title">글 번호</label>
            <input type="text"  id="id" value="{{post.id}}" readonly>
            <div class="row"></div>
            <label for="title">제목</label>
            <input type="text"  id="title" value="{{post.title}}">
            <div class="row"></div>
            <label for="author">작성자</label>
            <input type="text" id="author" value="{{post.author}}" readonly>
            <div class="row1">
                <label>내용 </label>
                <textarea id="content">{{post.content}}</textarea>
            </div>
            <a href="/list" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-success" id="btn-update">수정 완료</button>
            <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
        </form>
    </div>

{{>layout/footer}}