{{>layout/header}}

    <div class="contact-w3">

        <form>
            <label for="title">제목</label>
            <input type="text"  id="title" placeholder="제목을 입력하세요">
            <div class="row"></div>
            <label for="author">작성자</label>
            <input type="text" id="author" placeholder="작성자를 입력하세요" >
            <div class="row1">
                <label>내용 </label>
                <textarea id="content" placeholder="내용을 입력하세요"></textarea>
            </div>
            <a href="/list" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-success" id="btn-save">등록</button>
        </form>
    </div>

{{>layout/footer}}